---
layout: home
---
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
		  <header class="post-header">
	<a class="page-link" href="{{ post.url | prepend: site.baseurl }}"><h1 class="post-title small-caps">{{ post.title }}</h1></a>
  </header>
  <article class="post-content">
    {{ post.content }}
  </article>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}" class="next">Next</a>
{% endif %}
</div>
<script>
$('.page-content').jscroll({
loadingHtml: '<img src="/img/loading.gif" alt="Loading" /> Loading...',
nextSelector: 'a.next:last', 
contentSelector: '.page-content'
});


$(document).ready(function(){
   // cache the window object
   var $window = $(window),
   $winWidth= $window.width(),
   $scroll = $('section[data-type="background"]'),
   curPos = $(window).scrollTop(),
   offsetTop= $scroll.offset().top,
   halfScroll= (($scroll.height() + 80)/2),
   offsetHalf = halfScroll + offsetTop;
   

   // window resize

   $window.resize(function(){

			   if($(this).width() != $winWidth){
      $winWidth = $(this).width();
   }	
		});
//scroll function		
   $scroll.each(function(){
      $(window).scroll(function() {                           
		var yPos = -($window.scrollTop() / $scroll.data('speed')); 
		var yPosL = -($window.scrollTop() + ($window.scrollTop() / .6) / $scroll.data('speed')); 
        // background position
        var coords = '50% '+ yPos + 'px';
		        var coordsL = '50% '+ yPosL + 'px';
        // move the background
 if($winWidth < 900){
 $scroll.css({ backgroundPosition: coords });   
 }
 else {
  $scroll.css({ backgroundPosition: coordsL }); 
 }
      }); // end window scroll
   });  // end section function
}); // close out script
</script> 
