---
layout: home
---
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
		  <header class="post-header">
	<a class="page-link" href="{{ post.url | prepend: site.baseurl }}"><h2><h1 class="post-title small-caps">{{ post.title }}</h1></a>
    <p class="post-meta">{{ post.date | date: "%-m/%-d/%Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
  </header>
  <article class="post-content">
    {{ post.content }}
  </article>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}" class="next">Next</a>
{% endif %}
</div>
<script>
$('.page-content').jscroll({
loadingHtml: '<img src="/img/loading.gif" alt="Loading" /> Loading...',
nextSelector: 'a.next:last', 
contentSelector: '.page-content'
});
</script> 