<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Charts</title>
<!--style-->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	</head>
<body>
<nav class="navbar navbar-inverse">
<div class="navbar-header">
<a href="#" class="navbar-brand"><span class="glyphicon glyphicon-stats"></span> Dashboard</a>
</div>
</nav>



<!--Use ChartJS; create a line chart, bar chart, and a pie chart, passing in fake data http://www.chartjs.org/docs/-->
<div class="container">
<ul class="nav nav-pills">
<li role="presentation" class="active"><a href="#">sales</a></li>
<li role="presentation"><a href="#">overhead</a></li>
<li role="presentation"><a href="#">profit</a></li>
</ul>
<!--Line Chart-->
<div class="row">
<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
<canvas id="myChart" width="500" height="400">
</canvas>
</div>
<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, exercitationem, ipsam, voluptatem laboriosam at praesentium error possimus libero nemo enim sequi dolore suscipit esse voluptatum quis aperiam minus ullam dolorem.
<!--<div class="btn-group">
<div class="btn btn-lg btn-primary">Line</div>
<div class="btn btn-lg btn-primary">Bar</div>
</div>-->
</div>

	</div>
	</div>
<!--jQuery-->	
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<!--ChartJS scripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>
<!--fake model-->
<script>
/** fake data **/

//get data for
//data.labels ...political party
//data.datasets.data ...vote breakdown.party.[party].[vote]




var data= {
labels: [],
datasets: [
{
label: "My first dataset", 
fillColor: "rgba(110, 10, 110, .2)",
strokeColor: "rgba(210, 110, 110, 1)",
pointColor: "rgba(110, 110, 110, 1)", 
pointStrokeColor: "#fff",
pointHighlightFill: "#fff",
pointHighlightStroke: "rgba(110, 110, 110, 1)", 
data: [65, 59, 80, 55] 
}
]
};




var votes = $.ajax({
  url: "http://congress.api.sunlightfoundation.com/votes?year=2015&apikey=b5115cfa066c40169cf1da03e669e40d",
  beforeSend: function( xhr ) {
    xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
  }
})
  .done(function( data ) {
    if ( console && console.log ) {
      console.log( "Sample of data:", data.slice( 0, 100 ) );
    }
  });

/**global options **/
var options= Chart.defaults.global;

options= {
    // Boolean - Whether to animate the chart
    animation: true,

    // Number - Number of animation steps
    animationSteps: 60,

    // String - Animation easing effect
    animationEasing: "easeOutQuart",

    // Boolean - If we should show the scale at all
    showScale: true,

    // Boolean - If we want to override with a hard coded scale
    scaleOverride: false,

    // ** Required if scaleOverride is true **
    // Number - The number of steps in a hard coded scale
    scaleSteps: null,
    // Number - The value jump in the hard coded scale
    scaleStepWidth: null,
    // Number - The scale starting value
    scaleStartValue: null,

    // String - Colour of the scale line
    scaleLineColor: "rgba(0,0,0,.1)",

    // Number - Pixel width of the scale line
    scaleLineWidth: 1,

    // Boolean - Whether to show labels on the scale
    scaleShowLabels: true,

    // Interpolated JS string - can access value
    scaleLabel: "<%=value%>",

    // Boolean - Whether the scale should stick to integers, not floats even if drawing space is there
    scaleIntegersOnly: true,

    // Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
    scaleBeginAtZero: false,

    // String - Scale label font declaration for the scale label
    scaleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

    // Number - Scale label font size in pixels
    scaleFontSize: 12,

    // String - Scale label font weight style
    scaleFontStyle: "normal",

    // String - Scale label font colour
    scaleFontColor: "#666",

    // Boolean - whether or not the chart should be responsive and resize when the browser does.
    responsive: false,

    // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
    maintainAspectRatio: true,

    // Boolean - Determines whether to draw tooltips on the canvas or not
    showTooltips: true,

    // Function - Determines whether to execute the customTooltips function instead of drawing the built in tooltips (See [Advanced - External Tooltips](#advanced-usage-custom-tooltips))
    customTooltips: false,

    // Array - Array of string names to attach tooltip events
    tooltipEvents: ["mousemove", "touchstart", "touchmove"],

    // String - Tooltip background colour
    tooltipFillColor: "rgba(0,0,0,0.8)",

    // String - Tooltip label font declaration for the scale label
    tooltipFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

    // Number - Tooltip label font size in pixels
    tooltipFontSize: 14,

    // String - Tooltip font weight style
    tooltipFontStyle: "normal",

    // String - Tooltip label font colour
    tooltipFontColor: "#fff",

    // String - Tooltip title font declaration for the scale label
    tooltipTitleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

    // Number - Tooltip title font size in pixels
    tooltipTitleFontSize: 14,

    // String - Tooltip title font weight style
    tooltipTitleFontStyle: "bold",

    // String - Tooltip title font colour
    tooltipTitleFontColor: "#fff",

    // Number - pixel width of padding around tooltip text
    tooltipYPadding: 6,

    // Number - pixel width of padding around tooltip text
    tooltipXPadding: 6,

    // Number - Size of the caret on the tooltip
    tooltipCaretSize: 8,

    // Number - Pixel radius of the tooltip border
    tooltipCornerRadius: 6,

    // Number - Pixel offset from point x to tooltip edge
    tooltipXOffset: 10,

    // String - Template string for single tooltips
    tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>",

    // String - Template string for single tooltips
    multiTooltipTemplate: "<%= value %>",

    // Function - Will fire on animation progression.
    onAnimationProgress: function(){},

    // Function - Will fire on animation completion.
    onAnimationComplete: function(){}
}



</script>	

<script>
<!--view/controller-->
$('li').on('click', function(){
if($(this).is(':not(.active)')){
$('li').removeClass('active');
$(this).addClass('active');
var $newPillName= $(this).text();
console.log("active class added to " + $newPillName);
}
});



</script>


<script>
//Get the context of the canvas element we want to select
var ctx= $("#myChart").get(0).getContext("2d");
var myNewChart = new Chart(ctx);
new Chart(ctx).Bar(data, options);


options.repsonsive= true;
</script>

	</body>
</html>