<script src="/js/jquery-2.1.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.jscroll.min.js"></script>
<!--<script src="/js/search.js"></script>-->
<script src="/js/jquery.swipebox.min.js"></script>
<!--<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.3.0/trianglify.min.js"></script>-->
<script>
(function() {
	$('img').load(function() {
		$(this).hide().fadeIn('slow');
	});
});
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-61359408-1', 'auto');
  ga('send', 'pageview');
;( function( $ ){
$( '.swipebox' ).swipebox();
} )( jQuery );
</script>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'philgrayphilgray';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());

	var previousScroll = 0,
    headerOrgOffset = $('.navbar-header').height();
$('.navbar').height($('.navbar-header').height());

$(window).scroll(function () {
    var currentScroll = $(this).scrollTop();
    if (currentScroll > headerOrgOffset) {
        if (currentScroll > previousScroll) {
            $('.navbar').fadeOut();
        } else {
            $('.navbar').fadeIn();
        }
    } else {
            $('.navbar').fadeIn();
    }
    previousScroll = currentScroll;
});
	

</script> 
