/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    // Positioning context for the mobile navigation icon
    position: relative;
}
.navbar{
margin-bottom: 0;
}
.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}
.site-nav {
    float: right;
    line-height: 56px;
    .menu-icon {
        display: none;
    }
    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            > svg {
                width: 18px;
                height: 15px;
                path {
                    fill: $grey-color-dark;
                }
            }
        }
        .trigger {
            clear: both;
            display: none;
        }
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}
/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
 background: $footer-bg;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}
.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}
.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}
.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}
.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}
.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}
.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}
@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
/**
 * Page content
 */
.page-content {
    padding: 0;
}
.page-heading {
    font-size: 20px;
}
.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
    }
}
.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}
.post-link {
    display: block;
    font-size: 24px;
}

.small-caps {
    font-variant: small-caps;
	margin-bottom: 0px !important;
}

/**
 * Posts
 */
 
.post{
background-color: white;
	 margin-top: $spacing-unit;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
} 
.post-header {
}
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
.post-content {
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 26px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
/**
 *home page
 */
   
.jumbotron {
  padding: 0 0;
}
section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
	background-color: transparent;
}
.page-content .jumbotron{
background-color: rgba(0, 0, 0, .01);
margin-bottom: 0;
} 
.panel-cover {
height: 250px;

   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 -20px;
 z-index: 1;

 }
 
 
.prof-pic {
   vertical-align: middle;
   border: 2px solid white;
	min-height: 100px;
	min-width: 100px;
	    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
   
} 
.prologue blockquote {
display: relative;
	margin-top: 10%;
	color: white;
   vertical-align: middle;
	word-wrap: break-word;
} 

@include media-query($on-palm) {
   .prologue blockquote {
   border: none;
    }
}

.content {
.img-responsive {
margin: 0 auto;
}
.col-centered{
float: none;
margin: 0 auto;
}
}
.flexbox-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
.row {
    width: auto;
}
}

.navbar-brand {
padding: 5px 15px;
&:hover path{
fill: white;
}
}
 
 
 
 #intro { 
	background: url(/img/fullsky2.jpg) 50% 0 repeat fixed;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 180px 0;

	  @media screen and (max-width: 768px) {
     background: url(/img/fullskymobile.jpg) 50% 0 repeat fixed;
  }
}
#home { 
	background-color: rgba(0, 0, 0, .9);
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 20px 0;
}
#about { 
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 10px 0;
}

