<!doctype html>
{% include head.html %}
  <body>
  <div class="wrapper-home">
  {% include header.html %}  
<img src="/img/seahorses.jpg" alt="sea horses" class="img-responsive">   
<div class="panel-prof">
<div class="wrapper">
	<div class="row">
	<div class="col-xs-4"><img src="/img/prof2.png" alt="phil gray" class="img-circle img-responsive prof-pic">
	</div>
	<div class="prologue col-xs-8 col">
<blockquote><p>Phil Gray is an IT professional who specializes in digital content management and develoment. </p></blockquote>
	</div>
	</div>
	</div>
	</div>
	</div>
	<div class="page-content">
	<div class="wrapper">
	{{ content }}
	</div>
</div>
   {% include footer.html %}
   </body>
   </html>